@use "base/variables" as v;
@use "base/mixins" as m;

.contenedor-boletos {
  background-color: v.$verde;
  h3 {
    color: v.$blanco;
  }

  .boletos {
    @include m.contenedor;
    @include m.tablet {
      @include m.grid(2);
      padding: 5rem;
    }
  }
}
.pase {
  transition: transform 0.3s ease-in-out; // explia que va trasnformar
  &:hover {
    transform: scale(1.1); // incrementa en un 10%
  }

  &-nombre {
    // el amperson toma el primer nombre del paddre que seria en este caso pase para no repetir texto y no me va generar dos clases cuando lo compilo , solo una
    font-size: 3.6rem; // tamaño texto
    font-weight: 900; // negrilla texto
    text-align: center;
    color: v.$blanco;
  }
  &-header,
  &-footer {
    padding: 5rem;
    p {
      text-align: center;
      color: v.$blanco;
      margin: 0;
    }
  }
  &-header {
    background-color: v.$rosa;
    p {
      text-transform: uppercase;
      font-size: 2.2rem;
      padding: 1rem 0;
    }
  }
  &-body {
    background-color: v.$blanco;
    ul {
      @include m.resetear-lista;

      li {
        padding: 2rem;
        border-bottom: 1px solid #e1e1e1;
      }
    }
  }

  &-footer {
    background-color: v.$blanco;
    padding: 3rem;

    p {
      transition: transform 0.3s ease-in-out; // explia que va trasnformar
      &:hover {
        transform: scale(1.1); // incrementa en un 10%
      }
      font-size: 2.8rem;
      font-weight: 900rem;
      background-color: v.$morado;
      padding: 1rem 0; // arriba y abajo 1 y 0 izaquierdda y derecha
      cursor: pointer;
      &:hover {
        background-color: darken(v.$morado, 20);
      }
    }
  }
}
